/* NOTE debug code*/
/* 
body.debug .container,
    body.debug .container-fluid {
        outline: 2px double blue;
        outline-offset: -2px;
    }

    body.debug .row {
        outline: 2px dashed red;
        outline-offset: -2px;
    }

    body.debug [class*="col-"] {
        outline: 2px dotted forestgreen;
        outline-offset: -3px;
    }
 */


/* NOTE begin custom styling  */

:root {
    --buttonGray: #808080;
    --textAreaTop: #231f20;
}


/* NOTE Navigation Styles */

    .nav-bar {
        height: 14vh;
        border-bottom: #f2f2f2 1vh;
        background-color: #fff;
    }

    .nav-bar img {
        height: 100%;
    }

    .nav-bar a{
        color: black;
        text-decoration: none;
        font-weight: bold;
    }


/* NOTE Slider Styles */

    .top-slider {
        background-image: url(assets/images/maple.jpg);
        border-bottom: white 3rem;
    }

/* NOTE text-area styles */
    .main-text-area {
        background-color: var(--textAreaTop);
        color: white;
    }

    .text-pop {
        font-size: 2.7rem;
    }

    .ribbon {
        font-size: 1em;
        transition: 85ms;
        text-align: center;
        text-decoration: none;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        color: white;
        font-weight: bold;
        width: 7rem;
        height: 2rem;
        position: relative;
        background-color: var(--buttonGray);
    }

    
    .ribbon:after {
        content: "";
        transition: 85ms;
        position: absolute;
        right: -0.88rem;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 0.9rem solid;
        border-color: var(--buttonGray);
        border-top: 0.9rem solid transparent;
        border-bottom: 0.9rem solid transparent;
    }

    .ribbon:hover {
        cursor: pointer;
        background-color: orange;
        color: white;
    }

    .ribbon:hover::after {
        border-left: 0.9rem solid;
        border-color: orange;
        border-top: 0.9rem solid transparent;
        border-bottom: 0.9rem solid transparent;
    }